.header {
  background: #f5db13;
  min-height: 93px;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 93px;
    min-width: 1200px;
  }
  &-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  &-item {
    padding-left: 72px;
    font-size: 21px;
    line-height: 29px;
  }
  &__logo {
    background: url('./images/Logo.svg') no-repeat;
    width: 158px;
    height: 63px;
  }
}
